.typo {
  margin: 0;  
}

.typo_size-1 {
  margin-bottom: var(--gutter-lg);
  font-size: var(--text-size-xxl);
  font-weight: 400;
  line-height: var(--text-height-xxl);
}

.typo_size-2 {
  margin-bottom: var(--gutter-md);
  font-size: var(--text-size-lg);
  font-weight: 400;
  line-height: var(--text-height-xl);
}

.typo_size-3 {
  margin-bottom: var(--gutter-xs);
  font-size: var(--text-size-md);
  font-weight: 400;
  line-height: var(--text-height-md);
}

.typo_size-4 {
  margin-bottom: var(--gutter-xs);
  font-size: var(--text-size-sm);
  font-weight: 400;
  line-height: var(--text-height-sm);
}

.typo_size-5 {
  margin-bottom: var(--gutter-xs);
  font-size: var(--text-size-xs);
  font-weight: 400;
  line-height: var(--text-height-sm);
}

.typo_size-6 {
  margin-bottom: var(--gutter-xs);
  font-size: var(--text-size-xxs);
  font-weight: 400;
  line-height: var(--text-height-xxxs);
}

.typo_color-main {
  color: var(--color-text-main);
}

.typo_color-secondary {
  color: var(--color-text-secondary);
}

.typo_color-contrast {
  color: var(--color-text-contrast);
}

.typo_color-accent {
  color: var(--color-text-accent);
}
